// colors
$color-primary: #00acdc;
$color-border: #f3f3f3;
$color-text-main: #060b35;
$color-text-muted: #616070;
$color-white: #fff;

// sizes
$card-width: 200px;
$button-height: 40px;
$card-padding: 16px;
$card-border-radius: 8px;
$card-button-radius: 5px;
$button-width: 166px;

// fonts
$font-main: Roboto, sans-serif;
$font-size-small: 10px;
$font-size-base: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 16px;
$line-height-large: 18px;
